@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
dl, ul, ol, menu, li { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0 none; }
input, select, textarea, button { vertical-align: middle; }
input::-ms-clear { display: none; }
button { border: 0 none; background-color: transparent; cursor: pointer; }
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }
html { min-height: 100%; }
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, th, td, input, select, textarea, button { line-height: 1.5; font-family: AppleSDGothicNeo-Regular, 'Noto Sans', "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif; color: #555; letter-spacing: -.025em; }
img { border: 0; vertical-align: middle; }
body { position: relative; margin: 0; width: 100%; height: 100%; min-height: inherit; font-size: 14px; font-family: AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif; line-height: 1.5; letter-spacing: -.6px; background: #fff; /* 스크롤 생성 시 */ overflow-x:hidden; overflow-y:scroll; -webkit-overflow-scrolling:touch; transition: all 0.4s; }

/* link Style */
a { color: inherit; text-decoration: none; }
a:focus, button:focus, textarea:focus { outline: none; /*box-shadow: 0 0 0 1px #F4B4AC;*/ }
input:focus { outline: none; /*box-shadow: 0 0 0 1px #F4B4AC;*/ }
a, button, input { cursor: pointer; }
a:disabled, button:disabled, input:disabled { cursor: default; }

/*** form reset ***/
/* input 기본 스타일 초기화 */
input { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }
/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type=checkbox]{ vertical-align: middle; border:0; border-radius:0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/* Select box 스타일 초기화 */
select { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/* IE 에서 Select box 화살표 제거 */
select::-ms-expand { display: none; }
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
input[type=number] { -moz-appearance: textfield; }
/* Reset `button` and button-style `input` default styles */
input[type="submit"], input[type="reset"], input[type="button"], button { background: none; border: 0; color: inherit; /* cursor: default; */ font: inherit; line-height: normal; overflow: visible; padding: 0; -webkit-appearance: button; /* for input */ -webkit-user-select: none; /* for button */ -moz-user-select: none; -ms-user-select: none; }
input[type="button"]:disabled, button:disabled { background-color: #e6e6e6 !important; }
.not-kor{ ime-mode:disabled; }

/* basic */
.show { display: block; }
.hide { display: none; }
.txtbr { display: inline-block; line-height: 1; white-space: nowrap; word-wrap: break-word; text-overflow: ellipsis; -o-text-overflow: ellipsis; }
.screen-out { position:absolute; height:1px; width:1px; overflow:hidden; clip:rect(1px,1px,1px,1px); }
.t_center { text-align:center; }
.t_left { text-align:left; }
.t_right { text-align:right; }

/* 본문 바로가기 */
.index { position: relative; width: 100%; z-index: 101; }
.accessibility { display: block; font-size: 1.3em; left: 0; position: absolute; text-align: center; top: -10000px; width: 100%; z-index: 910; }
a.accessibility:hover, a.accessibility:focus, a.accessibility:active { background-color: #333; color: #fff; font-weight: bold; padding: 15px 0; position: absolute; top: 0; z-index: 910; }

/* scrolling */
::-webkit-scrollbar { -webkit-apprearance:none; } /* 기존 스크롤바를 안 보이게 함 */
::-webkit-scrollbar-track-piece { background-color:#f6f6f6; } /* 양 끝 화살표와 몸통 바를 제외한 길 */
::-webkit-scrollbar:vertical { height:18px; } /* 가로 스크롤바의 크기, 세로는 horizontal을 vertical로 바꾸면 된다 */
::-webkit-scrollbar-thumb { background-color: #ddd; border-radius:10px; border:2px solid #eee; } /* 실제 움직이는 몸통 바 */
::-webkit-scrollbar-button { width:16px; background-color: #ddd; } /* 양 끝 화살표 부분 */
::-webkit-scrollbar-button:start:decrement:vertical { width:16px; height:16px; background:#a8a8a8; } /* 가로 스크롤의 왼쪽 화살표 부분 */
::-webkit-scrollbar-button:end:increment:vertical { width:16px; height:16px; background:#a8a8a8; } /* 가로 스크롤의 오른쪽 화살표 부분*/

/* layout_Header */
.header { position: fixed; top: 0; left: 50%; -moz-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: 100%; height: 60px; text-align: center; background: #fff; z-index: 100; }
.header.fixed { -webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3); box-shadow: 2px 0 3px rgba(0, 0, 0, 0.3); }
.header .logo { line-height: 60px; }
.header .logo img { height: 26px; vertical-align: middle; }
.header .h1 { height: 50px; font-size: 16px; color: #333; line-height: 60px; }
.header .btn-close { position: fixed; top: 5px; right: 5px; width: 45px; height: 45px; background: url(../images/btn_close.png) no-repeat center; background-size: 20px 20px; }

.container { margin: 50px auto 0; width: 100%; max-width: 1024px; min-height: 240px; }

/* layout_STEP */ 
.step-wrap { width: 100%; max-width: 1024px; }
.step-wrap .step { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: stretch; -moz-align-items: stretch; -ms-align-items: stretch; align-items: stretch; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; flex-direction: row; height: 100%; background: #FFF; border-bottom:1px solid #dddddd; }
.step-wrap .step li { position: relative; -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; flex-shrink: 0; padding: 8px 0 14px 0; font-size: 13px; text-align: center; line-height: 1.5; color:#777; }
.step-wrap .step li span { display: flex; align-items: center; justify-content: center; }
.step-wrap .step li.active { color: #e83820; }
.step-wrap .step li.active:after { content: ''; position: absolute; left: 50%; bottom: 8px; width: 20px; height: 2px; -moz-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); background-color:#e83820; }
@media screen and (max-width: 320px) {
    .step-wrap .step li { font-size:12px !important; }
}

.contents-wrap { width: 100%; max-width: 1024px; }

/* common */
.title-content { margin-bottom: 8px; font-size: 13px; }
.title-content.inner { padding: 0 16px; }

.button-wrap { padding: 5px 12px 20px 12px; }
.sbutton-wrap {  }

.button-area { height: auto; }
.button-area:before, .button-wrap .button-area:after { content: ""; display: table; }
.button-area:after { clear: both; }
.button-area li { float: left; padding: 0 4px; width: 50%; }
.sbutton-wrap .button-area li{ float: left; display:block; margin-bottom:20px; }
.sbutton-wrap .button-area li:first-child { padding: 0 4px 0 0; width: 50%;  }
.sbutton-wrap .button-area li:last-child { padding: 0 0 0 4px; width: 50%; }
.button-area li:first-child:last-child { width: 100%; }

.button-area li .button { display: block; padding: 15px 8px 16px; width: 100%; font-size: 14px; text-align: center; color: #fff; background: #e83820; border-radius: 4px; }
.sbutton-wrap .button-area li .button { display: block; padding: 11px 8px 12px; width: 100%; font-size: 13px; text-align: center; color: #fff; border-radius: 4px; }
.button-area li .button:hover { background: #c12914; }
.button-area li .button.cancle { background: #777; }
.button-area li .button.cancle:hover { background: #5e5e5e; }

.button-area li .button.all { background: #393939; }
.button-area li .button.all:hover { background: #222; }
.button-area li .button.reset { color:#666; border:1px solid #d1d1d1; background: #FFF; }
.button-area li .button.reset:hover { }


/* common_상품 금액 정보 */
.product-wrap { width: 100%; padding: 16px 20px; background: #fbfbfb; }

.product-div { border: none; border-top: 1px dashed #ccc; }
.product { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; padding: 10px 0; }
.product dt { -webkit-flex-basis: 90px; -moz-flex-basis: 90px; -ms-flex-basis: 90px; flex-basis: 90px; font-size: 13px; color: #777; }
.product dd { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; text-align: right; color: #333; font-size: 14px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.product dd .cost { margin-right: 10px; font-size: 16px; font-weight: bold; color: #000; }

.product dd .goods { margin-right: 4px; font-size: 16px; font-weight: bold; color: #e83820; }
.product dd .point { margin-right: 4px; font-size: 16px; font-weight: bold; color: #000; }
.product dd .fail1 { margin-right: 4px; font-size: 16px; font-weight: bold; color: #393939; }
.product dd .fail2 { margin-right: 4px; font-size: 16px; font-weight: bold; color: #888; }
.product + .product { padding-top: 5px; }

.product-wrap.pay { margin-bottom: 20px; border-top: 1px solid #393939; }
.payresult-wrap { margin-bottom: 20px; padding: 0 16px; }
.payresult-wrap .payresult-inner { position: relative; padding: 10px 10px 20px; background: #fbfbfb; }
.payresult-wrap .payresult-inner:after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 8px; background: url(../images/receipt_bg.png) repeat-x center; background-size: contain; }


/*** Step1-1. 약관동의 ***/
.agree-wrap { padding: 20px 15px; }
.agree-wrap .agree-form { }
.agree-wrap .agree-form .agree-all { padding: 10px 0; border-bottom: 1px solid #393939; }
.agree-wrap .agreeAll_ti{ color:#000; font-size:14px; font-weight: 600; }
.agree-wrap .agree-form .agree-check-wrap { position: relative; margin: 12px 0; padding-right: 50px; }
.agree-wrap .agree-form .agree-check-wrap .link_more { display: block; position: absolute; top: 50%; right: 0; -moz-transform: translate(0, -50%); -o-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); padding-right: 9px; font-size: 12px; color: #777; background: url(../images/icon_link_more.png) no-repeat; background-size: 6px 10px; background-position: 100% 50%; }
.checkbox-type-1 input { opacity: 0; margin: 0; width: 0; height: 0; -webkit-appearance: none; -webkit-border-radius: 0; }
.checkbox-type-1 input + label{ font-size:13px; }
.checkbox-type-1 input + label:before{ content:''; font-size:16px; width:16px; height:16px; padding-left: 22px; background: url(../images/form_check_default.png) no-repeat left; background-size: auto 16px; line-height:1.7 !important; -webkit-appearance: none; -webkit-border-radius: 0; }
.checkbox-type-1 input:checked + label:before { background: url(../images/form_check_checked1.png) no-repeat left; background-size: auto 16px; line-height:1.5; -webkit-appearance: none; -webkit-border-radius: 0;  }
.checkbox-type-1 input:focus + label { outline: none; }
.term-zone { padding: 0 0 30px 0; }
.term-zone p { padding: 20px 15px 0 15px; font-size:13px; color: #666; text-decoration: underline; }

@media screen and (max-width: 320px) {
    .checkbox-type-1 input + label { font-size:12px !important; }
    .agree-wrap .agree-form .agree-check-wrap .link_more { font-size:11px !important; }
}


/* bottom banner */
.banner-wrap { text-align: center; padding-top:10px; }
.banner-wrap .banner-img { width: 100%; max-width: 1024px; }


/*** Step1-2. 휴대폰 본인인증 ***/
.cert-inner { padding: 20px 16px 25px 16px; }
.cert-inner-bottom { padding: 10px 16px 25px 16px; }
.cert-box { margin: 5px 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; border: 1px solid #ddd; justify-content:space-between; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-justify-content:space-between; -ms-flex-pack:space-between; }
.cert-box .item-1, .cert-box .item-2, .cert-box .item-right { display: block; }
.cert-box .item-1 { -webkit-flex-basis: 80px; -moz-flex-basis: 80px; -ms-flex-basis: 80px; flex-basis: 80px; }
.cert-box .item-2 { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.cert-box .item-right { -webkit-flex-basis: 100px; -moz-flex-basis: 100px; -ms-flex-basis: 100px; flex-basis: 100px; text-align: right; }
.cert-box .item-right2 { -webkit-flex-basis: 60px; -moz-flex-basis: 60px; -ms-flex-basis: 60px; flex-basis: 60px; text-align: right; }
.cert-label { font-size: 13px; color: #777; text-indent: 13px; }
.cert-text { padding: 0 0 0 8px; font-size: 14px; color: #333; border: 0; }
.cert-text::-webkit-input-placeholder { font-size: 14px; color: #aaa; opacity: 1; }
.cert-text:-moz-placeholder { font-size: 14px; color: #aaa; opacity: 1; }
.cert-text::-moz-placeholder { font-size: 14px; color: #aaa; opacity: 1; }
.cert-text:-ms-input-placeholder { font-size: 14px; color: #aaa; opacity: 1; }
.cert-select { width: 100%; height: 40px; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.cert-select select { width: 100%; height: 100%; font-size: 12px; color: #333; background: transparent url(../images/icon_arrow_down.png) no-repeat right; background-size: 10px 6px; background-position: right 10px top 50%; border: none; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.item-right .cert-select { border-left: 1px solid #ddd; }
.cert-radio-area { display: flex; margin: 5px; height: 30px; text-align: center; z-index: 5; }
.cert-radio-area .cert-radio-input { flex: 1; position: relative; margin: 0 -1px; background: #fff; }
.cert-radio-area input { position: absolute; top: 0; left: 0; margin: 0; width: 100%; height: 100%; outline: none; opacity: 0; -webkit-appearance: none; -webkit-border-radius: 0;}
.cert-radio-area input + label { display: block; width: 46px; font-size: 12px; line-height: 28px; border: 1px solid #ddd; -webkit-appearance: none; -webkit-border-radius: 0;}
.cert-radio-area input + label.left { border-radius: 4px 0 0 4px; }
.cert-radio-area input + label.right { border-radius: 0 4px 4px 0; }
.cert-radio-area input:checked + label.left { color: #e83820; border-color: #e83820; -webkit-appearance: none; -webkit-border-radius: 4px 0 0 4px; }
.cert-radio-area input:checked + label.right { color: #e83820; border-color: #e83820; -webkit-appearance: none; -webkit-border-radius: 0 4px 4px 0; }
.cert-radio-area input:focus + label { outline:none; }

.cert-agree-wrap { padding: 0 0 10px 0; }
.cert-agree-wrap .cert-agree-form { }
.cert-agree-wrap .cert-agree-form .cert-agree-all { padding: 10px 0; border-bottom: 1px solid #393939; }
.cert-agree-wrap .cert-agreeAll_ti{ color:#000; font-size:14px; font-weight: 600; }
.cert-agree-wrap .cert-agree-form .cert-agree-check-wrap { position: relative; margin: 12px 0; padding-right: 50px; }
.cert-agree-wrap .cert-agree-form .cert-agree-check-wrap .link_more { display: block; position: absolute; top: 50%; right: 0; -moz-transform: translate(0, -50%); -o-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webkit-transform: translate(0, -50%); transform: translate(0, -50%); padding-right: 9px; font-size: 12px; color: #777; background: url(../images/icon_link_more.png) no-repeat; background-size: 6px 10px; background-position: 100% 50%; }
@media screen and (max-width: 320px) {
    .cert-agree-wrap .cert-agree-form .cert-agree-check-wrap .link_more { font-size:11px !important; }
}
.checkbox-type-2 input { opacity: 0; margin: 0; width: 0; height: 0; -webkit-appearance:none; -webkit-border-radius:0; }
.checkbox-type-2 input + label{ font-size:13px; }
.checkbox-type-2 input + label:before { content:''; font-size:16px; width:16px; height:16px; padding-left: 22px; background: url(../images/form_check_default.png) no-repeat left; background-size: auto 16px; line-height:1; -webkit-appearance:none; -webkit-border-radius:0; line-height:1.5; }
.checkbox-type-2 input:checked + label:before { background: url(../images/form_check_checked2.png) no-repeat left; background-size: auto 16px; line-height:1.5; -webkit-appearance:none; -webkit-border-radius:0; }
.checkbox-type-2 input:focus + label { outline: none; -webkit-appearance:none; -webkit-border-radius:0; }

.btn-certno { display: block; margin: 5px; padding: 0; min-width: 90px; height: 30px; font-size: 12px; text-align: center; color: #fff; background: #393939; border-radius: 4px; }
.btn-certno:hover { background: #292929; }
.btn-certno:disabled { background: #e6e6e6; }
.cert-time { color: #e83820; display:block; margin:10px 8px; }


/*** Step2. 포인트 조회 및 사용 ***/
.pay-wrap:after{ content:''; width:100%; height:10px; background:#fbfbfb; display:block; border-bottom:1px solid #ddd; }
.pay-view-wrap { padding: 20px 15px 10px 15px; }
.pay-view-wrap h3{ -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; font-size: 15px; font-weight:600; color: #393939; padding:0 0 10px 0; position: relative; top:0; left:0; }


/* accordion 포인트 상세보기 제목버튼 */
.list-accordion { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.list-accordion>dt { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-around; -moz-justify-content: space-around; -ms-justify-content: space-around; justify-content: space-around; -ms-flex-pack: space-around;  background-color: #fff;  font-size: 15px; color: #393939; }
.list-accordion>dt .accordion-title { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; font-size: 15px; font-weight:600; color: #393939; padding:20px 15px; position: relative; top:0; left:0; }
.list-accordion>dt .accordion-title .btn_spread { content: ''; display: block; position: absolute; top: 50%; right: 20px; margin-top: -7px; vertical-align:top; width:16px; height:16px; background-image:url(../images/icon_spread_up.png); background-size:16px 16px; background-repeat:no-repeat; }
.list-accordion>dt.is-opened .accordion-title .btn_spread { background-image:url(../images/icon_spread_down.png); background-size:16px 16px; }
.list-accordion>dt.is-opened+dd { max-height: 0; transition: max-height 0.15s ease-in-out; }
.list-accordion>dd { overflow:hidden; max-height: 2000px; background-color:#FFF; padding: 0 15px 0 15px; }
.list-accordion>dd .accordion-content { position: relative; }


/* accordion 포인트 상세보기 내역 */
.pay-inner{ /*padding-bottom:25px;*/ }
.pointAlllist{ width:100%; margin:0 auto; margin:5px 0 15px 0; }
.pointAlllist>thead>tr>th{ font-size:12px; color:#333; font-weight:600; text-align:center; padding:12px 0 10px 0; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; vertical-align: middle; }
.pointAlllist>thead>tr>th:nth-child(1){ width:42%; border-left:none; }
.pointAlllist>thead>tr>th:nth-child(2){ width:29%; }
.pointAlllist>thead>tr>th:nth-child(3){ width:29%; border-right:none; }
.pointAlllist>tbody>tr>td{ color:#333; background-color:#FFF; /*border-bottom:1px solid #eee;*/ padding:12px 2px 4px 2px; vertical-align: middle; }
.pointAlllist>tbody>tr:last-child>td { border-bottom:none; }
.pointAlllist>thead>tr>td:nth-child(1){ text-align: left !important;}
.pointAlllist>thead>tr>td:nth-child(3){ border-right:none; }

.card_brand{ padding-left:10px; font-size:13px; color:#393939; font-weight:600; }
.card_brand:before{ content:''; display:inline-block; vertical-align:top; width:14px; height:14px; background:#fff; background-size:14px 14px; background-repeat:no-repeat; margin:4px 5px 0 0; color:transparent; }
.card_brand.bc:before{ background-image:url(../images/ci_bc.png) !important; }
.card_brand.kb:before{ background-image:url(../images/ci_kb.png) !important; }
.card_brand.sh:before{ background-image:url(../images/ci_sh.png) !important; }
.card_brand.hd:before{ background-image:url(../images/ci_hd.png) !important; }
.card_brand.ss:before{ background-image:url(../images/ci_ss.png) !important; }
.card_brand.kj:before{ background-image:url(../images/ci_kj.png) !important; }
.card_brand.wr:before{ background-image:url(../images/ci_wr.png) !important; }
.card_brand.hn:before{ background-image:url(../images/ci_hn.png) !important; }
.card_brand.lp:before{ background-image:url(../images/ci_lp.png) !important; }

.pointAlllist>tbody>tr>td .input_area{ font-size:12px; text-align:right; border-radius:3px; background:#fafafa; border:1px solid #f6f6f6; height:28px; position: relative; top:0; left:0; padding:0 2px; line-height:1; }
.pointAlllist>tbody>tr>td .input_area.red { background:#FFF; border:1px solid #eee; }
.pointAlllist>tbody>tr>td .input_area.red:focus, .pointAlllist>tbody>tr>td .input_area.red:hover { background:#fff5f3 !important; border-color: #fff5f3 !important; }
.pointAlllist>tbody>tr>td .input_area .usepoint-input{ border:none; border-radius:0; width:94%; height:24px; font-size:14px; color:#393939; text-align:right; background:none; position: absolute; top:1px; left:0px; padding-right:4px; }
.pointAlllist>tbody>tr>td .input_area .usepoint-input:disabled { font-weight:600; }
.pointAlllist>tbody>tr>td .input_area .usepoint-input.red { font-size:14px; font-weight:800; color:#e83820; }
.pointAlllist>tbody>tr>td .input_area .measure{ display:inline-block; font-size:12px; color:#555; position: absolute; top:6px; right:5px; font-weight:800; font-family:Tahoma, Sans-serif; }
.pointAlllist>tbody>tr>td .input_area .measure.red{ color:#e83820; }

@media screen and (max-width: 1024px) {    
    .pointAlllist>thead>tr>th:nth-child(1){ width:60% !important; }
    .pointAlllist>thead>tr>th:nth-child(2){ width:20% !important; }
    .pointAlllist>thead>tr>th:nth-child(3){ width:20% !important; border-right:none; }       
    .pointAlllist>tbody>tr>td .input_area .usepoint-input { width: 85% !important; }
    .pointAlllist>tbody>tr>td .input_area .measure { right:10px !important; }
}
@media screen and (max-width: 768px) {
    .pointAlllist>thead>tr>th:nth-child(1){ width:60% !important; }
    .pointAlllist>thead>tr>th:nth-child(2){ width:20% !important; }
    .pointAlllist>thead>tr>th:nth-child(3){ width:20% !important; border-right:none; }     
    .pointAlllist>tbody>tr>td .input_area .usepoint-input { width: 80% !important; }
    .pointAlllist>tbody>tr>td .input_area .measure { right:10px !important; }
}
@media screen and (max-width: 765px) {
    .pointAlllist>thead>tr>th:nth-child(1){ width:42% !important; }
    .pointAlllist>thead>tr>th:nth-child(2){ width:29% !important; }
    .pointAlllist>thead>tr>th:nth-child(3){ width:29% !important; border-right:none; }      
    .pointAlllist>tbody>tr>td .input_area .usepoint-input { width: 83% !important; }
}
@media screen and (max-width: 375px) {
    .pointAlllist>thead>tr>th:nth-child(1){ width:42% !important; }
    .pointAlllist>thead>tr>th:nth-child(2){ width:29% !important; }
    .pointAlllist>thead>tr>th:nth-child(3){ width:29% !important; border-right:none; }    
    .pointAlllist>tbody>tr>td .input_area .usepoint-input { width: 83% !important; top:1px; font-size:12px !important; }
    .pointAlllist>tbody>tr>td .input_area .usepoint-input.red{ font-size:12px !important; }     
    .pointAlllist>tbody>tr>td .input_area .measure { right:8px !important; }
    .card_brand{ font-size:12px !important; }    
}
@media screen and (max-width: 360px) {
    .pointAlllist>tbody>tr>td .input_area .usepoint-input { width: 83% !important; font-size:12px !important; }
    .pointAlllist>tbody>tr>td .input_area .usepoint-input.red{ font-size:12px !important; }
    .card_brand{ font-size:11px !important; }    
}
@media screen and (max-width: 320px) {
    .pointAlllist>thead>tr>th:nth-child(1){ width:50% !important; }
    .pointAlllist>thead>tr>th:nth-child(2){ width:25% !important; }
    .pointAlllist>thead>tr>th:nth-child(3){ width:25% !important; border-right:none; }   
    .pointAlllist>tbody>tr>td .input_area .usepoint-input{ font-size:10px !important; }
    .pointAlllist>tbody>tr>td .input_area .usepoint-input.red{ font-size:10px !important; }    
    .pointAlllist>tbody>tr>td .input_area .measure{ font-size:11px !important; top:7px !important; right:5px !important; }
    .pointAlllist>tbody>tr>td .input_area .measure.red{ font-size:11px !important; }
}

/* modal 1조건 */
.btn-info-card { margin: 0 2px; position: relative; display: inline-block; padding: 1px; width: 14px; height: 14px; color: #999; border: 1px solid #e1e1e1; border-radius: 50%; font-size:10px; vertical-align: middle; text-align: center; line-height:1; cursor: pointer; }
.btn-info-card:before { content: '?'; position: absolute; top: 50%; left: 50%; display: inline-block; transform: translate(-50%, -50%); }
.btn-info-card span { font-size: 0; color: transparent; }

.modal-wrap { position: relative; top:0; left:0; display:none; }
.modal-contents { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 600px; background: #fff; z-index: 9999; border: 1px solid #ddd; padding: 20px 18px; }
@media screen and (max-width: 768px) {
    .modal-contents { width:90%; }    
}
.modal-body { position: relative; top:0; left:0; }
.modal-body p { text-align: left; font-weight:600; padding-bottom:10px; }
.modal-body ul {}
.modal-body ul li { position: relative; padding-left: 12px; font-size: 12px; color: #777; line-height:1.7; }
.modal-body ul li:before { content: ''; position: absolute; top: 2px; left: 0; display: block; width: 10px; height: 10px; background: url(../images/icon_notice2.png) no-repeat; background-size: 10px 10px; }
.modal-ex .modal-close{ position: absolute; top:0; right:0; content:''; display:inline-block; vertical-align:top; width:12px; height:12px; background-image:url(../images/btn_close.png); background-size:12px 12px; background-repeat:no-repeat; cursor: pointer; color:transparent; }
.modal-mask { width: 100%; height: 100%; background: #000; opacity: .5; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 8000; }

/* tooltip 2조건 */
.card_more{ content:''; display:inline-block; vertical-align:top; width:14px; height:14px; background-image:url(../images/icon_question.png); background-size:14px 14px; background-repeat:no-repeat; margin:4px 0 0 2px; cursor: pointer; color:transparent; line-height:2; }
.card_more span { font-size: 0; color: transparent; }
.ModalPopup{ position: absolute; display: none; background-color: #FFF; border: 1px solid #ddd; padding: 16px 18px; z-index:9999; }
.ModalPopup .popover_close{ position: absolute; top:15px; right:15px; }
.ModalPopup .popover_close span{ content:''; display:inline-block; vertical-align:top; width:12px; height:12px; background-image:url(../images/btn_close.png); background-size:12px 12px; background-repeat:no-repeat; cursor: pointer; color:transparent; }
.ModalPopup .popover_cont p{ font-size:13px; font-weight:600; color:#393939; padding-bottom:8px; z-index: 9999; }
.ModalPopup .popover_cont ul{}
.ModalPopup .popover_cont ul li { position: relative; padding-left: 12px; font-size: 12px; color: #777; line-height:1.7; }
.ModalPopup .popover_cont ul li:before { content: ''; position: absolute; top: 2px; left: 0; display: block; width: 10px; height: 10px; background: url(../images/icon_notice2.png) no-repeat; background-size: 10px 10px; }
.popover_mask { width: 100%; height: 100%; background: #000; opacity: .5; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 8000; }


/* 최종 결제 금액 */
.pointSum-inner { padding: 20px 15px 10px 15px; }
.pointSum-inner h3{ -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; font-size: 15px; font-weight:600; color: #393939; padding:0 0 10px 0; position: relative; top:0; left:0; }

.sum-wrap { width: 100%; padding: 0 15px 10px 15px; }
.pointSum { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; padding: 10px 0; }
.pointSum dt { -webkit-flex-basis: 90px; -moz-flex-basis: 90px; -ms-flex-basis: 90px; flex-basis: 90px; font-size: 14px; color: #393939; }
.pointSum dd { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; text-align: right; color: #000; font-size: 15px; font-weight:600; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.pointSum dd.red{ color:#e83820; }
.pointSum_exchange{ font-size:13px; color:#999; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: flex-end; }
.exchange_num{ letter-spacing: 0; padding:0 0 0 4px; }

/* 유의사항 */
.pay-info { padding:0 15px 50px 15px; }
.pay-info .pay-info-list { border-top:1px solid #ddd; padding-top:20px; }
.pay-info .pay-info-list li { position: relative; margin: 3px 0; padding-left: 13px; font-size: 13px; color: #777; }
.pay-info .pay-info-list li:before { content: ''; position: absolute; top: 2px; left: 0; display: block; width: 10px; height: 10px; background: url(../images/icon_notice2.png) no-repeat; background-size: 10px 10px; }


/*** Step3. 결제 완료 ***/
.result-wrap { padding: 30px 16px; text-align: center; }
.result-wrap .icon-area { margin-bottom: 20px; }
.result-wrap .icon-area .icon-success { display: inline-block; width: 32px; height: 32px; background: url(../images/icon_success.png) no-repeat center; background-size: cover; vertical-align: middle; }
.result-wrap .icon-area .icon-fail { display: inline-block; width: 32px; height: 32px; background: url(../images/icon_fail.png) no-repeat center; background-size: contain; vertical-align: middle; }

.result-wrap .text-area { line-height: 1.3; }
.result-wrap .text-area .large { font-size: 20px; color: #333; font-weight:600; }
.result-wrap .text-area .large_fail { font-size: 20px; color: #444; font-weight:600; }
.result-wrap .text-area .large em { color: #e83820; }
.result-wrap .text-area .normal { margin-top: 10px; }

.payresult { padding: 10px 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; }
.payresult dt { width: 70px; font-size: 12px; color: #777; }
.payresult dd { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; text-align: right; }
.payresult + .payresult { padding-top: 5px; }

.terms-wrap { padding: 20px 16px; }
.terms-wrap .subject { margin: 1.5em 0 .3em; font-weight: bold; color: #333; }
.terms-wrap .subject.first { margin-top: 0; }
.terms-wrap .text { margin-top: .2em; }
.terms-wrap .table-style { margin-top: .2em; width: 100%; border: 1px solid #ddd; font-size:.85rem; word-break:break-all; }
.terms-wrap .table-style caption { margin-bottom: .4em; text-align: left; line-height: 1.3; }
.terms-wrap .table-style .wid1 { width: 30%; }

.terms-wrap .table-style thead th { padding: .5em .6em; text-align: center; line-height: 1.3; vertical-align: middle; border-left: 1px solid #ddd; }
.terms-wrap .table-style tbody th { padding: .5em 2em; text-align: center; line-height: 1.3; vertical-align: middle; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.terms-wrap .table-style tbody td { padding: .5em 1em; text-align: center; line-height: 1.3; vertical-align: middle; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; }
.terms-wrap .table-style th { background: #fbfbfb; }
.terms-wrap .mt { margin-top: .8em !important; }

.terms-wrap .term_box { border:1px solid #ddd; padding:1em 2em; margin:.5em; }
.terms-wrap .term_box dt { font-weight:600; padding:.3em 0; }
.terms-wrap .terms_link { text-decoration: underline; }

[class*=list-type-] { margin-top: .2em; padding-left: 1em; }
[class*=list-type-] > li { position: relative; padding-left: .3em; }
[class*=list-type-] > li.list-none { list-style: none !important; }
[class*=list-type-] > li.list-none::before { content: ''; }
[class*=list-type-] > li + li { margin-top: .2em; }
[class*=list-type-] > li > ul { margin-top: .2em; }

.list-type-none { padding-left: 1em; }
.list-type-none > li { text-indent: -1em; line-height:1.5em; }
.list-type-dash { padding-left: .6em; }
.list-type-dash > li { text-indent: -.6em; line-height:1.5em; }
.list-type-dash > li::before { content: '\2013'; margin-right: .4em; }
.list-type-decimal > li { list-style: decimal; }
.list-type-circle { padding-left: .4em; }
.list-type-circle > li { text-indent: -.6em; line-height:1.5em; }
.list-type-circle > li::before { content: '\26AC'; margin-right: .3em; }

[class*=list-counter-] { margin-top: .2em; padding-left: 1em; counter-reset: list; }
[class*=list-counter-] > li { position: relative; padding-left: .3em; text-indent: -.1em; list-style: none; }
[class*=list-counter-] > li + li { margin-top: .2em; }

.list-counter-lower-alpha { padding-left: .8em; }
.list-counter-lower-alpha > li { text-indent: -.8em; }
.list-counter-lower-alpha > li:before { content: counter(list, lower-alpha) ") "; counter-increment: list; }
.list-counter-decimal { padding-left: .8em; }
.list-counter-decimal > li { text-indent: -.8em; }
.list-counter-decimal > li:before { content: counter(list, decimal) ") "; counter-increment: list; }
